body{
    background-color: rgb(255, 255, 255);
}
.header{
   min-height: 250px;
    
}
.header-conteudo{  
    line-height: 100px;
    position: relative;
}
.logo{
    font-size: 25px;
    color:rgb(201, 40, 40);
    padding: 35px;
    margin-top: 40px;
}
.area-logo{
  
    min-width: 190px;;
}

.phone{
    margin-top: -110px;
    margin-left: 30px;
}

.email{
    margin-top: -106px;
    margin-left: 40px;
}
.area-cart{
    display: flex;
    min-width: 200px;
   
}
.cart{
    color: rgb(201, 40, 40);
    margin-top: 30px;
    margin-left: -80px;
   
    opacity: 0.9;
}
.title-cart{
    margin-top: -75px;
    margin-left: 30px;
}
.total-cart{
    margin-top: 140px;
    margin-left: -80px;
    font-family: Arial, Helvetica, sans-serif;
}
.quant_cart{
    background-color: #EEE;
    position: absolute;
    width: 30px;
    height: 30px;   
    color: rgb(201, 40, 40);
    font-size: 15px;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 15px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px ;
    z-index: 100;
}

.btn-category{
    margin-left: 20px;
}
.dropdow-category{
    height: 60px;
}



/*Css Products*/
.product_item{
   padding:10px;
   border:2px solid #FFF;
}
.product_item a{
    text-decoration: none;
    display: block;
}
.product_item:hover{
    padding:15px;
    border:2px solid #EEE;
}
.product_name{
    font-weight: bold;
    color:rgb(201, 40, 40);
}
.product_brand{
    color: #000;
    font-size: 11px;
    
}
.product_price_from{
    float: left;
    color: #CCC;
    font-size: 13px;
    margin-top: 15px;
}
.product_price{
    float: right;
    color: #000;
    font-weight: bold;
    font-size: 13px;
    margin-top: 15px;

}
.product_tags{
    position: absolute;
}
.product_tag{
    height: 30px;
    line-height: 30px;
    background-color: #FFF;
    float: left;
    clear: both;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    color: #FFF;

}
.product_tag_red{
    background-color: rgb(201, 40, 40);
    

}
.product_tag_green{
    background-color: #1ec41e;
    

}
.product_tag_blue{
    background-color: #0000FF;
    

}
.w-5{
    display: none;
}
.dropdown-menu{
    width: 240px;
}
.categoria{
    width: 238px;
    text-align: left;
    border-bottom: 1px solid #EEE;

}
.subCategoria{
  
    border-bottom: 1px solid #CCC;

}
.subCategoria:hover{
    background: #EEE;
    
}

.sub{
    opacity: 0.9;
   
}

.category_header{
    padding: 14px;
}
.category_header_link{
    text-align: center;
}
.category_link{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}
.category_link:hover{
    color: rgb(27, 27, 27);
}
.sub_category_link{
    text-decoration: none;
    color: #000;
    line-height: 30px;
}
.sub_category_link:hover{
    color: rgb(27, 27, 27);
}